/node_modules
**/node_modules
/oh_modules
/local.properties
/.idea
/.trae
.DS_Store
**/dist
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/apikey.txt
/server/apikey.txt
/server/.env
/agent/.venv
/agent/.venv_dl
/.venv-doc
/agent/data/chroma
/agent/data/raw_laws/
/agent/apikey.txt
/agent/**/__pycache__/
*.pyc
